
    <!-- End Header -->
    <!-- Hero Section  -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hello, <span></span></h1>
                <h1>My Name is <span></span></h1>
                <h1>Chimezirim Amahuo<span></span></h1>
                <a href="#projects" type="button" class="cta">Portfolio</a>
            </div>
        </div>
    </section>
    <!-- End Hero Section  -->
    <!-- Service Section -->
    <section id="services">
        <div class="services container">
            <div class="service-top">
                <h1 class="section-title">Serv<span>i</span>ces</h1>
                <p>
                    As a skilled Software Engineer specializing in .NET technologies, I offer a comprehensive suite of services to bring your software
                    Projects to Life. From designing and developing robust applications using ASP.NET, WPF and WinForms to creating efficient
                    RESTful APIs and integrating databases with Entity Framework, my expertise spans the full software development Lifecyle.
                    I excel at crafting responsive user interfaces, deploying applications on cloud platforms like Azure and implementing secure
                    authentication and authorization mechanisms. With a focus on performance optimization, continuous integration, and delivering reliable
                    solutions, I'm dedicated to providing top-notch maintenance and support ot ensure your applications thrive in the long run.

                    Whether you need a talented developer, an architectural consultant, or a reliable team member, I'm Committed to delivering high-Quality
                    solutions tailored to your unique requirements within the dynamic .NET ecosystem
                </p>
            </div>
            <div class="service-bottom">
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Application Development</h2>
                    <p>
                        <ul>
                            <li>Design, Develop and Implement robust and scalable Applications using .NET Technologies</li>
                            <li>Create Web Applications, Desktop applications and Mobile Applications using ASP.NET,WinForms and other related frameworks</li>
                        </ul>
                </p>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>BackEnd Development</h2>
                    <p>
                    <ul>
                        <li>Build RESTful APIs and Backend services using ASP.NET and Web API</li>
                        <li>Integrate databases using Entity Framework or other ORMs(Object-Relational Mapping) to handle data operations efficiently.</li>
                    </ul>
                    </p>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>FrontEnd Development</h2>
                    <p>
                    <ul>
                        <li>Develop user Interfaces using ASP.NET MVC, Razor Pages or Blazor for Web applications.</li>
                        <li>Create responsive and user-friendly UIs for desktop applications using WPF or WinForms.</li>
                    </ul>
                    </p>
                </div>
                <div class="service-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/services.png" /></div>
                    <h2>Database Management</h2>
                    <p>
                    <ul>
                        <li>Design,Develop and optimize databases using SQL Server or other compatible database systems.</li>
                        <li>Implement data modeling, Schema design an query optimization for efficient data storage and retrieval.</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Service Section -->
    <!-- Projects Section -->
    <section id="projects">
        <div class="projects container">
            <div class="projects-header">
                <h1 class="section-title">Recent <span>Projects</span></h1>
            </div>
            <div class="all-projects">
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 1</h1>
                        <h2>Console Bank App</h2>
                        <p>
                        The Enhanced User Experience Console Bank App project aimed to revolutionize the way
                        customers interacted with their banking services through a streamlined and user-friendly
                        console application. By leveraging the power of modern technology, the project aimed to
                        provide customers with a secure, efficient, and intuitive platform to manage their finances,
                        conduct transactions, and access banking information.
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 2</h1>
                        <h2>To Do App</h2>
                        <p>
                        The NextGen ToDoApp project was a comprehensive endeavor focused on revolutionizing
                        task management by creating a feature-rich and user-friendly application. The primary goal
                        was to provide users with a streamlined platform to manage tasks, increase productivity, and
                        organize their daily activities effectively.
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 3</h1>
                        <h2>A Calculator</h2>
                        <p>
                        The Calculator project was an innovative initiative aimed at reinventing the traditional with it's Simplicity
                        which was aimed at performing basic Arithematic operations and can be easily used by anyone including older
                        Martket Men and Women.
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/img-1.png" alt="img">
                    </div>
                </div>
                <div class="project-item">
                    <div class="project-info">
                        <h1>Project 4</h1>
                        <h2>Building API</h2>
                        <p>
                        The UnifiedAPI project aimed to simplify data integration and enhance interoperability
                        between different software systems by creating a robust and versatile Application
                        Programming Interface (API). The primary goal was to provide developers with a single point
                        of access to various data sources, services, and functionalities, ultimately accelerating the
                        development of applications and fostering innovation.

                        </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/img-1.png" alt="img">
                    </div>
                </div>
                @*<div class="project-item">
                    <div class="project-info">
                        <h1>Project 5</h1>
                        <h2>Coding is Love</h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, iusto cupiditate voluptatum impedit unde
                            rem ipsa distinctio illum quae mollitia ut, accusantium eius odio ducimus illo neque atque libero non sunt
                            harum? Ipsum repellat animi, fugit architecto voluptatum odit et!
                        </p>
                    </div>
                    <div class="project-img">
                        <img src="./img/img-1.png" alt="img">
                    </div>
                </div>*@
            </div>
        </div>
    </section>
    <!-- End Projects Section -->
    <!-- About Section -->
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="./img/img-2.png" alt="img">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>me</span></h1>
                <h2>Software Engineer</h2>
                <p>
                    An exceptional software engineer with an insatiable appetite for challenges and a passion for
                    continuous learning. With a track record for tackling complex problems head-on and embracing
                    opportunities to expand their skillset.

                    From the earliest days of my career, it was evident that i wasn't content with the status quo. The
                    curiosity and drive led to delve into the ever-evolving world of software engineering with a fervor
                    that few can match. This dedication to pushing boundaries and embracing the unknown has propelled me
                    to the forefront of innovation in the field.
                </p>
                @*<a href="#" class="cta">Download Resume</a>*@
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div>
                <h1 class="section-title">Contact <span>info</span></h1>
            </div>
            <div class="contact-items">
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/phone.png" /></div>
                    <div class="contact-info">
                        <h1>Phone</h1>
                        <h2>+234 814-3933-794</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/new-post.png" /></div>
                    <div class="contact-info">
                        <h1>Email</h1>
                        <h2>amahuo.godwin232@gmail.com</h2>
                        <h2>chimezirim.amahuo@decagon.dev</h2>
                    </div>
                </div>
                <div class="contact-item">
                    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" /></div>
                    <div class="contact-info">
                        <h1>Address</h1>
                        <h2>Lagos State, Nigeria.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact Section -->
